
body {
  background-color: #212529 !important;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  padding: 15px;
  color: white;
}

.App-link {
  color: #852727;
}

a {
  color: white !important;
  text-decoration: none !important;
}

a:hover {
  color: white;
  background-color: #212529;
  border-radius: 1px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


